*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right, rgb(250, 245, 255) ,rgb(245, 250, 255))
}

nav{
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    border-bottom: 1px solid lightgray;
}

nav .eventpal{
    font-size: 32px;
    text-decoration: none;
    color: blue;
    font-weight: bold;
}


.nav-links{
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-links .navlink{
    text-decoration: none;
    font-size: 20px ;
    color: black;
    transition:  all 0.2s ease;
}

.nav-links .navlink:hover{
    color: blue;
}


.nav-links .create{
    font-size: 20px;
    border: 1px solid black;
    padding: 8px 12px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    background: linear-gradient(to right,rgb(162,89,255),rgb(63,142,252))
}

.logoutbtn{
     background: linear-gradient(to right,rgb(162,89,255),rgb(63,142,252));
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.logoutbtn:hover{
    background: linear-gradient(to right,rgb(165,92,255),rgb(73,152,252));
}

@media (max-width:768px){
    nav{
        flex-direction: column;
        height: auto;
        padding: 10px 15px;
    }

    .nav .eventpal{
        font-size: 24px;
        margin-bottom: 8px;
    }
    .nav-links{
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
      .nav-links .navlink,
    .nav-links .create {
        font-size: 16px;
    }
}
